html{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    --br: 7px;
}

body{
    margin: 0;
}

.container{
    width: 22%;
    margin: 0 auto 0 auto;
}

h1{
    font-size: 45px;
    font-weight: bold;
    margin-block-start: 1.5em;
    margin-block-end: 0;
}

a{
    font-size: 18px;
    font-weight: bold;
    color: #3590EB;
}

.button{
    width: 110px;
    height: 40px;
    padding: 3px 0;
    border-radius: var(--br);
}

/*section*/
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.inhold{
    justify-content: center;
    text-align: center;
    margin-top: -150px;
}

.h1_under_text{
    margin: 20px 0;
}

.size_box{
    position: relative;
}

.size_box img{
    position: absolute;
    top: 133px;
    right: 15px;
}

.size{
    height: 50px;
    width: 100%;
    margin-top: 30px;
    border: 1px solid lightgray;
}

.gray_text{
    text-align: start;
    margin: 45px 0;
    color: rgb(161, 161, 161);
}


.button_box{
    display: flex;
    justify-content: space-between;
}

.G{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    background-color: white;
}

.F{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B5998;
}

.T{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00ACEE;
}

/*side_billed*/
.side_billed{
    height: 937px;
    width: 1300px;
    background-image: url(./images/bg.png);
    background-size: cover;
}